 .formControl.error input,
 .formControl.error textarea {
    border: 2px solid orangered;
}

.formControl.error span {
    color: orangered;
}

.formSummaryError {
    border: 1px solid darkturquoise;
    padding: 5px;
    margin: 5px;
    color: darkturquoise;
    display: inline-block;
}
