.nav {
    grid-area: n;
    background-color: #DB6444;
    padding-left: 10px;
}

.item a{
    color: white;
    text-decoration: none;

}

.item a.active{
    color: gold;
}

.friends{
    color: white;
    padding-left: 20px;
}

.friends img {
    width: 30px;

}
.white_circle {
        width: 100px; /* Ширина круга */
        height: 100px; /* Высота круга */
        border-radius: 50%; /* Создаем круг с помощью скругленных углов */
        background-color: white; /* Цвет круга */
    }